* {
    margin: 0;
    padding: 0
}

section.first {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: 50px auto;
    animation-delay: 500ms;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-name: animate;

}

@keyframes animate {
    from {
        background-color: green;
        border-radius: 0;
        transform: rotate(0deg) scale(1, 1);
        margin-left: 0;
    }

    to {
        background-color: rgb(153, 51, 51);
        border-radius: 50%;
        transform: rotate(45deg) scale(1.5, 1.5);
        margin-left: 150px;
    }
}
* {
    margin: 0;
    padding: 0
}

section.second {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: 50px auto;
}
.animation{
    animation-delay: 500ms;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-name: animate;
}
